<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <h1>Your Juice Shop</h1>
    </header>
    <nav>
        <a href="/orderPage">Order Juice</a>
        <a href="/login">Login</a>
        <a href="/logout">Logout</a>
    </nav>
    <div>
        <% if(error) {
            error.forEach((e) => {
                %> 
                <p><%= e %></p>
                <%
            })
        } %>
    </div>
    <footer>
        <address>
            <p>
                &copy; Nrupal Dave - 9018590
            </p>
        </address>
    </footer>
</body>
</html>